@import "tailwindcss";

/* Thêm vào file CSS của bạn */
html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  margin-right: 0 !important;
  overflow-y: auto;
}

/* Tùy chọn: Tạo style cho scrollbar để đồng nhất trên các trình duyệt */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}


@layer utilities { 

  @keyframes blink {
    0%, 100%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }
  .animate-blink {
    animation:blink 0.7s step-end infinite ;
  }

  @keyframes loading {
    0%{
      transform: translateX(-100%) ;
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation:loading 0.8s ease infinite ;
  }
}